@model IEnumerable<BugTrack.ViewModels.VMIssueReportEntities.IssueReportEntityWithIdViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="container ms-3">
    <h1>Index</h1>

    <form asp-controller="IssueReports" asp-action="Index">
        <p>
            Issue Title: <input type="text" name="SearchString" />
            <input type="submit" value="Search" />
        </p>

    </form>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="d-flex flex-row flex-wrap">
        @foreach (var item in Model) 
        {
            <div class="issuecard shadow" style="width: 25%;">
                <div class="issuecard-top bg-success">
                    <span>@Html.DisplayFor(modelItem => item.IssueTitle)</span>
                </div>
                <div class="issuecard-bottom bg-light border-start border-end border-bottom border-2 p-2">
                    <div class="align-top align-text-top">
                        <div class="d-inline-flex flex-column">
                            <div>
                                <img class="issuecard-avatar m-1 border border-3" src="data:image/png;base64,@item.AvatarEncoded" />
                            </div>
                            <div class="m-1 text-center h6">
                                @Html.DisplayFor(modelItem => item.Owner)
                            </div>
                        </div>
                        <div class="d-inline-flex flex-column">
                            <div class="bg-secondary text-center m-1 rounded-2 border-2 w-100">
                                <span class="p-1">@Html.DisplayFor(modelItem => item.ModuleOrClass)</span>
                            </div>
                            <div class="d-inline-flex flex-row">
                                <div class="m-1 text-center">
                                    <span class="badge bg-primary rounded-pill border border-2">@Html.DisplayFor(modelItem => item.IssueStatus.Description)</span>
                                </div>
                                <div class="m-1 text-center">
                                    <span class="badge bg-primary rounded-pill border border-2">@Html.DisplayFor(modelItem=> item.IssueThreat.Description)</span>
                                </div>
                            </div>
                        </div>
                        <div class="float-end">@Html.DisplayFor(modelItem => item.GeneralDescription)</div>
                    </div>
                @*<div>
                    @Html.DisplayFor(modelItem => item.DateFound)
                </div>
                <div>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
                *@
                </div>
            </div>
        }
    </div>
</div>
